@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  /* background-image: url("imgs/futureprototype.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto; */
  background-color: #eaeaea;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  font-family: "Noto Sans TC";
}

h1 {
  text-align: center;
  font-size: 54px;
}

#titlebar {
  margin-left: 0;
  width: 100%;
}

.navTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 29rem;
  margin-left: 13%;
}

div#pages {
  padding: 1%;
  text-align: center;
  width: 100%;
}

p.sidebar {
  color: whitesmoke;
  font-size: larger;
}

#titlebar2 {
  height: 55px;
  margin-left: 3%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#titlebar2-div {
  height: 55px;
  float: left;
  width: 29em;
  margin-left: 18px;
}

#nav-game:hover {
  color: lightyellow;
}

.rankBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.introuduceTitle {
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
  color: white;
  font-size: 25px;
}

.tab-content {
  min-height: 600px;
}

.loadingBackground {
  background-color: gray;
  width: 100px;
  height: 100px;
  font-size: 50px;
}

.ll {
  color: red;
}

.tableShow {
  background-size: 100px 200px;
  width: 300px;
  height: 100px;
  color: red;
  font-size: 1.6em;
  padding: 1rem;
  overflow: hidden;
  border: yellowgreen;
  border-radius: 10px;
}

.dev-table {
  font-size: 1.2em;
  overflow: hidden;
  border-radius: 10px;
}

#iframe-div {
  height: 100%;
}

iframe.game {
  width: calc(66.66vw);
  height: calc(66.66vw * 9 / 16);
  position: absolute;
  border: none;
  top: calc((100vh - 65vw * 9 / 16) / 2);
  left: calc((100vw - 66.66vw) / 2);
  border-radius: 3px;
  overflow: hidden;
}

div.about-content {
  text-align: left;
  font-size: larger;
}

#rank-hint-bar {
  float: right;
  margin-right: 26px;
}

#rank-nav-bar {
  font-size: large;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: white;
  height: 55px;
  padding-top: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  float: left;
}

#rank-nav-bar:hover {
  color: #00a4eb;
}

img.about-page-img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-left: 25px;
  margin-right: 25px;
}

img.about-page-img-avatar {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid grey;
}

img.about-page-img-small {
  width: auto;
  height: 80px;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

figure {
  display: inline-block;
}

figcaption {
  text-align: center;
}

#about-page-table-col1 {
  width: 100px;
}

#about-page-table-col2 {
  width: 180px;
}

col.rank-table-col1 {
  width: 120px;
}

col.rank-table-col2 {
  width: auto;
}

col.rank-table-col3 {
  width: 160px;
}

col.rank-table-col4 {
  width: 200px;
}

#easter-egg-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  display: block;
}

.about-page-img-arch {
  width: 60%;
  height: auto;
  border-radius: 8px;
}

.about-page-img-arch-2 {
  width: 70%;
  height: auto;
}

#music-button {
  position: fixed;
  right: 18px;
  bottom: 18px;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 10;
}

img.record-img {
  width: 6.5%;
  height: 6.5%;
}

input[type="file"] {
  position: relative;
  width: 50px;
  height: 50px;
  opacity: 0;
  /*padding: 0;*/
  margin: -1px;
  left: -50px;
  top: 0px;
  /*overflow: hidden;*/
  border: 0;
}

.buttonInFile {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#record-page-top-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 52%;
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#record-page-bottom-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 52%;
  margin-left: 24%;
  margin-right: 24%;
  margin-bottom: 5px;
  text-align: center;
  padding: 0%;
  margin-top: 10px;
}

div.record-page-button {
  text-align: center;
}

#black-count {
  font-size: x-large;
}

#white-count {
  font-size: x-large;
}

#demo-block {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* width: 20%; */
  /* height: 150px; */
  /* margin-left: 40%; */
  /* margin-right: 40%; */
}

#demo-block-button {
  margin-top: 2px;
  margin-bottom: 2px;
}

#easter-egg {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 99vw;
  height: 40vw;
}

div#Chess_record_Reminding {
  margin-left: 10px;
  text-align: left;
}

.rankPic {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 960px) {
  .tableShow {
    font-size: 1.1em;
  }

  col.rank-table-col1 {
    width: 60px;
  }

  col.rank-table-col2 {
    width: auto;
  }

  col.rank-table-col3 {
    width: 85px;
  }

  col.rank-table-col4 {
    width: 130px;
  }

  div#pages {
    padding: 1%;
    width: 98%;
  }

  #rank-hint-bar {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 96%;
  }

  #titlebar2-div {
    float: left;
    width: 85%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 6px;
  }

  #rank-div {
    padding: 1px;
  }
}

@media screen and (max-width: 700px) {
  #titlebar {
    width: 100%;
  }

  #titlebar2 {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  div#pages {
    padding: 1%;
    width: 98%;
  }

  .rightBoardBackground2 {
    background-image: url("board2.jpg");
    width: 100vw;
    height: 50vw;

    background-size: 100vw 50vw;

    top: 150px;
    background-repeat: no-repeat;
    z-index: 3;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
  }

  iframe.game {
    width: 98vw;
    height: calc(98vw * 9 / 16);
    margin-left: 0%;
    margin-right: 0%;
    display: block;
    border: none;
    left: 1vw;
    border-radius: 3px;
    overflow: hidden;
  }

  .tableShow {
    font-size: 0.8em;
  }

  #rank-hint-bar {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 96%;
  }

  #titlebar2-div {
    float: left;
    width: 85%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 6px;
  }

  #about-page-table-col1 {
    width: 70px;
  }

  #about-page-table-col2 {
    width: 90px;
  }

  col.rank-table-col1 {
    width: 50px;
  }

  col.rank-table-col2 {
    width: auto;
  }

  col.rank-table-col3 {
    width: 70px;
  }

  col.rank-table-col4 {
    width: 110px;
  }

  th {
    padding: 8px !important;
  }

  #rank-div {
    padding: 1px;
  }

  #easter-egg-button {
    display: none;
  }

  .about-page-img-arch {
    width: 80%;
    height: auto;
    border-radius: 8px;
  }

  .about-page-img-arch-2 {
    width: 100%;
    height: auto;
  }

  #music-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 10;
    z-index: 10;
  }

  .navTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  img.record-img {
    width: 12%;
    height: 12%;
  }

  #record-page-top-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
  }

  img.about-page-img-avatar {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid grey;
  }

  #gamesRecordTime {
    font-size: 1.2em;
  }

  #record-page-bottom-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    margin-left: 24%;
    margin-right: 24%;
    margin-bottom: 5px;
    text-align: center;
    padding: 0%;
    margin-top: 10px;
  }

  #import-button {
    width: 100%;
  }

  #save-file-button {
    width: 100%;
  }

  #delete-this-button {
    width: 100%;
  }

  #delete-all-button {
    width: 100%;
  }

  #jump-input {
    font-size: smaller;
    width: 100px !important;
  }

  #jump-label {
    font-size: 1.2em;
  }

  .nav-link {
    font-size: 1em !important;
  }
  .rankPic {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  #titlebar {
    width: 100%;
  }

  #titlebar2 {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  div#pages {
    padding: 1%;
    width: 98%;
  }

  .rightBoardBackground2 {
    background-image: url("board2.jpg");
    width: 100vw;
    height: 50vw;

    background-size: 100vw 50vw;

    top: 150px;
    background-repeat: no-repeat;
    z-index: 3;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
  }

  iframe.game {
    width: 98vw;
    height: calc(98vw * 9 / 16);
    margin-left: 0%;
    margin-right: 0%;
    left: 1vw;
    display: inline-block;
    border: none;
    border-radius: 3px;
    overflow: hidden;
  }

  .tableShow {
    font-size: 0.6em;
    padding: 1%;
  }

  #rank-hint-bar {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 96%;
  }

  #titlebar2-div {
    float: left;
    width: 85%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 6px;
  }

  #about-page-table-col1 {
    width: 40px;
  }

  #about-page-table-col2 {
    width: 80px;
  }

  col.rank-table-col1 {
    width: 40px;
  }

  col.rank-table-col2 {
    width: auto;
  }

  col.rank-table-col3 {
    width: 50px;
  }

  col.rank-table-col4 {
    width: 80px;
  }

  th {
    padding: 6px !important;
  }

  #rank-div {
    padding: 1px;
  }

  #easter-egg-button {
    display: none;
  }

  .about-page-img-arch {
    width: 80%;
    height: auto;
    border-radius: 8px;
  }

  .about-page-img-arch-2 {
    width: 100%;
    height: auto;
  }

  #music-button {
    position: fixed;
    right: 12px;
    bottom: 12px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 10;
  }

  .navTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  img.record-img {
    width: 12%;
    height: 12%;
  }

  #record-page-top-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
  }

  img.about-page-img-avatar {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    border: 1px solid grey;
  }

  img.about-page-img-small {
    width: auto;
    height: 50px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }

  #gamesRecordTime {
    font-size: smaller;
  }

  .btn {
    font-size: small;
    white-space: nowrap;
  }

  #jump-label {
    font-size: small;
  }
}
